// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Posts#Index - Styles
.index_post {
  margin: 0 auto;
  height: 500px;
  width: 50%;
  min-width: 500px;
  background: url(asset_path("bean@4.png")) no-repeat center center;
  background-size: cover;

  .index_post_link {
    display: block;
    float: left;
    height: 80%;
    width: 100%;
    position: absolute;
  }

  .content_area {
    margin: 0 auto;
    height: 50%;
    width: 75%;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    transform: translateY(50%);
    color: white;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
  }

  .index_post_user {
    font-size: 1.3em;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
      color: antiquewhite;
    }
  }

  .index_post_content {
    float: left;
  }

  .index_post_image {
    height: 80%;
    max-height: 75%;
    max-width: 50%;
    float: right;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

// Posts#New - Styles
.new_post_container {
  margin: 0 auto;
  height: 500px;
  width: 50%;
  min-width: 500px;
  background: url(asset_path("bean@4.png")) no-repeat center center;
  background-size: cover;

  .form_content_area {
    margin: 0 auto;
    height: 50%;
    width: 75%;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    transform: translateY(50%);
    color: white;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
  }

  .new_post_title {
    font-size: 1.3em;
    margin-bottom: 10px;
  }

  .new_post_content {
    float: left;
  }

  .new_post_image_form {
    height: 80%;
    max-height: 75%;
    max-width: 50%;
    float: right;
  }

  .new_post_submit {
    position: absolute;
    bottom: 10px;
  }
}
.field_with_errors {
  border: 1px solid darkred;
}

// Posts#Show - Styles
.show_post {
  height: 900px;
  width: 90%;
  min-width: 500px;
  background: url(asset_path("bean@4.png")) no-repeat center center;
  background-size: cover;
  position: relative;

  .show_post_link {
    display: block;
    float: left;
    height: 80%;
    width: 100%;
    position: absolute;
  }

  .content_area {
    margin: 0 auto;
    height: 50%;
    width: 75%;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px 25px 0 0;
    // transform: translateY(50%);
    color: white;
    position: relative;
    margin: 0 auto;
    width: 75%;
    display: block;

    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);

    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    padding: 10px;
  }

  .show_post_interactions {
    margin: 0 auto;
    width: 75%;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    border-radius: 0 0 25px 25px;

    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    padding: 10px;
  }

  .show_post_user {
    font-size: 1.7em;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
      color: antiquewhite;
    }
  }

  .show_post_content {
    float: left;
    font-size: 1.3em;
  }

  .show_post_reactions {
    form {
      display: inline;
    }
  }

  .show_post_image {
    position: absolute;
    top: 25px;
    right: 25px;
    float: right;
    max-height: 50%;
    max-width: 50%;
    

    img {
      height: 100%;
      width: 100%;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    }
  }
}
